{% style %}
  .favorite {
    position: absolute;
    top: 3%;
    left: 3%;
    transform: translateY(-50%);
  }
{% endstyle %}
<div class="favorite uwl-btn" id="favorite">
  <h1>favorite</h1>
</div>