{% style %}
  .favorite {
    position: absolute;
    top: 3%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 5;
  }
{% endstyle %}
<div class="favorite" id="favorite">
  <div class="swym-button-bar swym-wishlist-button-bar swym-inject">
    <div class="swym-btn-container swym-inject" data-position="default">
      <button
        class="swym-button swym-add-to-wishlist swym-inject swym-has-fave-count swym-icon swym-heart swym-loaded"
        onclick="event.preventDefault();"
        aria-label="Add to Wishlist">
        <span class="swym-wishlist-cta">Add to Wishlist</span>
        <span class="swym-tooltip swym-inject swym-tooltip-clickable">
          <span class="swym-tooltip-text">Add to wishlist</span>
        </span>
      </button>
    </div>
  </div>
</div>