{% style %}
  .favorite {
    position: absolute;
    top: 3%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 5;
  }
{% endstyle %}
<div class="favorite" id="favorite">
  <button class="uwl-btn" id="uwl-btn"></button>
</div>