{%- style -%}
  .bar-button {
    margin: 0 auto;
    display: grid;
    width: 100%;
    overflow-x: auto;
    grid-auto-columns: 150px;
    @media (max-width: 768px) {
      grid-auto-columns: 25%;
    }
    grid-auto-flow: column;
    height: {{ section.settings.size-bar }}px;
    transition: all 0.5s;
    }
  .button-marquee {
    background-color: rgb(239, 230, 250);
    color: rgb(64, 28, 112);
    padding: 0 4px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    scrollbar-width: thin;
    overflow: none;
    overflow-x: auto;
  a{text-decoration: none;}
  }
  .button-marquee:hover
  {
    background-color: rgb(247, 230, 250);
    color: rgb(75, 35, 128);
  }
{%- endstyle -%}
<div class="bar-button">
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'button' -%}
        <div class="button-marquee">
          <a href="{{ block.settings.link }}">{{ block.settings.labelbuton }}</a>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>


{% schema %}
  {
    "name": "VRC-MARQUEE-LINK",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "size-bar",
        "min": 20,
        "max": 101,
        "step": 1,
        "unit": "px",
        "label": "Tamaño de la Barra",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "Botones",
        "limit": 10,
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Link del Boton"
          }, {
            "type": "text",
            "id": "labelbuton",
            "label": "Etiqueta del Boton"
          }

        ]
      }
    ]

  }
{% endschema %}