<style>
  .bar-button {
    margin: 0 auto;
    display: grid;
    width: 100%;
    overflow-x: auto;
    grid-auto-columns: 150px;
    @media (max-width: 768px) {
      grid-auto-columns: 25%;
    }
    grid-auto-flow: column;
    height: {{ section.settings.size-bar }}px;
    transition: all 0.5s;
    position: relative;
  }
  .bar-button::-webkit-scrollbar {
    display: none;
  }
  .button-marquee {
    background-color: rgba(255, 255, 255, 0.692);
    color: rgb(64, 28, 112);
    padding: 0 4px;
    width: 100%;
    cursor: pointer;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: 400;
    transition: all 0.8s;
    white-space: nowrap;
    a {
      text-decoration: none;
    }
  }
  .button-marquee:hover {
    background-color: rgb(247, 230, 250);
    color: rgb(75, 35, 128);
    border-radius: 5px 5px 0 0;
  }
</style>

<div class="bar-button" id="bar-button">
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'button' -%}
        <div class="button-marquee" id="button-marque">
          <a href="{{ block.settings.link }}">{{ block.settings.labelbuton }}</a>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>

<script>
  // Variables para el desplazamiento con el mouse
  var isMouseDown = false;
  var initialX = 0;
  
  // Agrega eventos para el desplazamiento con el mouse
  var tabContainer = document.getElementById("bar-button");
  tabContainer.addEventListener("mousedown", function (event) {
    isMouseDown = true;
    initialX = event.clientX;
  });
  
  tabContainer.addEventListener("mouseup", function () {
    isMouseDown = false;
  });
  
  tabContainer.addEventListener("mousemove", function (event) {
    if (isMouseDown) {
        var delta = initialX - event.clientX;
        tabContainer.scrollLeft += delta;
        initialX = event.clientX;
    }
  });
</script>


{% schema %}
  {
    "name": "VRC-MARQUEE-LINK",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "size-bar",
        "min": 20,
        "max": 101,
        "step": 1,
        "unit": "px",
        "label": "Tamaño de la Barra",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "Botones",
        "limit": 25,
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Link del Boton"
          }, {
            "type": "text",
            "id": "labelbuton",
            "label": "Etiqueta del Boton"
          }

        ]
      }
    ]

  }
{% endschema %}