
{% style  %}
.cont-guide {
    width: 90%;
    height: 105vh;
    max-width: 980px;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px 300px 300px;
    grid-template-areas: "tittleguide imgguide1"
                         "textguide1 textguide1"
                         "imgguide2 textguide2"
                         "textguide3 imgguide3";

div{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 5px;
box-shadow: 0px 0px 5px rgba(60, 59, 59, 0.478);
padding: 20px;
text-align: left;
}                         
}


/* Consulta de medios para pantallas más grandes (PC) */
@media screen and (min-width: 768px) {
    .cont-guide {
        grid-template-columns: minmax(150px, 1fr) repeat(3, minmax(250px, 2fr));
        grid-template-rows: 370px auto;
        grid-template-areas: "tittleguide imgguide1 imgguide2 imgguide3"
                            "textguide1 textguide1 textguide2 textguide3";
    }
}

.tittleguide{
   grid-area: tittleguide;
}
.imgguide1{
    grid-area: imgguide1;
    background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/Fashion_3.png');    
}
.textguide1{
      grid-area: textguide1;
 }
.imgguide2{
    grid-area: imgguide2;
    background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/Fashion_3.png');    
}
.textguide2{
    grid-area: textguide2;
}
.imgguide3{
    grid-area:imgguide3;
    background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/Fashion_3.png');    
}
.textguide3{
    grid-area: textguide3; 
}
{% endstyle %}
<div class="cont-guide">
    <div class="tittleguide"><h2>Las gorditas no tienen fronteras guia completa aki tu alcance</h2></div>
    <div class="imgguide1">IMAGEN</div>
    <div class="textguide1"> Number: 8628b5ecadc667ea1.0.0.0 Safari/537.36 Edg/121.0.0.0Timestamp: 2024-03-11 04:13:20 UTC</div>
    <div class="imgguide2">IMAGE GUIDE 2</div>
    <div class="textguide2">Number: 8628b5ecadc667eaIP Address: 149.34.250.3User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36 Edg/121.0.0.0Timestamp: 2024-03-11 04:13:20 UTC</div>
    <div class="imgguide3">IMAGE GUIDE 3</div>
    <div class="textguide3">8b5ecadc667eaIP Address: 149.34.250.3User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36 Edg/121.0.0.0Timestamp: 2024-03-11 04:13:20 UTC</div>
</div>

{%- comment -%}
{% schema %}
    {
        
    }
{% endschema %}  
{%- endcomment -%}
