.body
{
position: relative; 
}
/*-------------------------------BANNER MAXI MINI MIDI ----------------------------------------------------------------------------*/
        .banner-mmm {
            position: relative;
            width: 100%;
            background-position: center;
            color: white;
            text-align: center;
            padding: 20px;
            background-repeat: no-repeat;  
            background-position: top;
        }
        
        /* Estilos para móvil */
        @media (max-width: 768px) {
            .banner-mmm {
                background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/bridesmiad916.png');
                background-size: cover;
                height: 105vh;
                margin-left: 0;
                margin-right: 0;
                background-repeat: no-repeat;
                background-position: bottom;            
            h1{
                position: absolute;
                font-size: 80px;
                color: white;
                text-align: left;
                top: 50%;
                left: 24%;
                transform: translate(-50%, -50%);
              }
              p{
                position: absolute;
                font-size: 18px;
                color:black;
                text-align: left;
                top: 89%;
                left: 33%;
                transform: translate(-50%, -50%);
                
              }
            .position-boton
            {
                position: absolute;
                top: 80%;
                left: 24%;
                transform: translate(-50%, -50%);
            }  
            .position-mid
            {
                position: absolute;
                top: 40%;
                left: 110%;
                transform: translate(-50%, -50%);
                margin-left: -120px;
                margin-right: -120px;
            } 
         }
        }

        /* Estilos para escritorio */
        @media (min-width: 769px) {
            .banner-mmm {
                background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/bridesmiad169.png');
                font-size: 24px;
                background-size: contain;
                height: 90vh;
                
                h1{
                    position: absolute;
                    font-size: 100px;
                    color: white;
                    text-shadow: 2px,10px,4px,black;
                    top: 10%;
                    left: 65%;
                    transform: translate(-50%, -50%);
                  }
                  p{
                    position: absolute;
                    font-size: 24px;
                    color:black;
                    text-align: left;
                    top: 45%;
                    left: 65%;
                    transform: translate(-50%, -50%);
                    
                  }
                .position-boton
                {
                    position: absolute;
                    top: 60%;
                    left: 70%;
                    transform: translate(-50%, -50%);
                }  
                .position-mid
                {
                    position: absolute;
                    top: 60%;
                    left: 65%;
                    transform: translate(-50%, -50%);
                    margin-left: -120px;
                    margin-right: -120px;
                } 
             }
            }
            
        /* Estilos para los botones */
        .button-banner {
            display: inline-block;
            padding: 10px 20px;
            background-color:rgba(163, 149, 149, 0.376);;
            color: rgb(19, 18, 18,0.7);
            text-decoration: none;
            margin: 10px;
            border-radius: 5px;
        }
        .button-banner:hover{border: 2px solid rgba(225, 225, 225, 0.179);background-color: antiquewhite;}
/*------------------------------------- END BANNER MAXI MINI MIDI -----------------------------------------------------------------------*/
 /* Estilos para los botones */
 .button-shop {
    z-index: 1;
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    background-color:rgba(221, 176, 141, 0.697);;
    color: rgb(19, 18, 18,0.7);
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}
.button-shop:hover{
    border: 2px solid rgba(225, 225, 225, 0.179);background-color: antiquewhite;
   }
@media (min-width: 769px) {
.shop-position-l{
    left: 25%;
    margin-bottom: -10%;
}
.shop-position-r{
    right:25%;
    margin-bottom: -10%;    
}
}
@media (max-width: 768px) {
.shop-position-l{
    margin-top: 20%;
    left: 25%;
    translate: (-50%,-50%);
    margin-bottom: -10%;
}
.shop-position-r{
    margin-top: 20%;
    left: 25%;
    translate: (-50%,-50%);
    margin-bottom: -10%;
}
}
/*-------------------------------BANNER MAXI MINI MIDI ----------------------------------------------------------------------------*/
.banner-mini {
    position: relative;
    width: 100%;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    background-repeat: no-repeat;  
    background-position: top;
}

/* Estilos para móvil */
@media (max-width: 768px) {
    .banner-mini {
        background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/banner-mini916.jpg');
        background-size: cover;
        height: 105vh;
        margin-left: 0;
        margin-right: 0;
        background-repeat: no-repeat;
        background-position: bottom;
        white-space: nowrap;            
    h1{
        text-shadow: 2px 2px 4px #000000;
        position: absolute;
        font-size: 80px;
        color: white;
        text-align: left;
        top: 38%;
        left: 8%;
      }
      p{
        position: absolute;
        font-size: 18px;
        color:black;
        text-align: left;
        top: 85%;
        left: 8%;
      }
    .position-boton
    {
        position: absolute;
        top: 80%;
        left: 24%;
        transform: translate(-50%, -50%);
    }  
    .position-mid
    {
        position: absolute;
        top: 40%;
        left: 110%;
        transform: translate(-50%, -50%);
        margin-left: -120px;
        margin-right: -120px;
    } 
 }
}

/* Estilos para escritorio */
@media (min-width: 769px) {
    .banner-mini {
        background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/banner-mini169.jpg');
        font-size: 24px;
        background-size: contain;
        height: 90vh;
        
        h1{
            text-shadow: 2px 2px 4px #000000;
            position: absolute;
            font-size: 100px;
            color: white;
            text-shadow: 2px,10px,4px,black;
            top: 10%;
            left: 65%;
            transform: translate(-50%, -50%);
          }
          p{
            position: absolute;
            font-size: 24px;
            color:black;
            text-align: left;
            top: 45%;
            left: 65%;
            transform: translate(-50%, -50%);
            
          }
        .position-boton
        {
            position: absolute;
            top: 60%;
            left: 70%;
            transform: translate(-50%, -50%);
        }  
        .position-mid
        {
            position: absolute;
            top: 60%;
            left: 65%;
            transform: translate(-50%, -50%);
            margin-left: -120px;
            margin-right: -120px;
        } 
     }
    }

/* Estilo para el contenedor de bloques de productos */
.producto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    align-self: center;
       
    }
    
    /* Estilo para cada bloque de producto */
    .producto {
    position: relative;
    width: 48%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 3px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease-in-out; /* Transición suave al pasar el ratón */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    
    /* Efecto al pasar el ratón sobre cada bloque de producto */
    .producto:hover {
    transform: scale(1.05); /* Escalar un poco al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    .shop
    {
     display: none;
    }
    }
    
    /* Estilo para el contenido dentro de cada bloque de producto */
    .producto h3 {
    font-size: 16px;
    color: #333; /* Color del título */
    margin-bottom: 10px;
    font-family: Alegreya;
    }
    
    .producto p {
    color: #ffffff;
    font-family: Alegreya;
    font-weight: 900;
    position: absolute;
    text-align: center;
    }
    /* Estilo para el texto flotante */
    .texto-flotante {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 22px;
    color: #FFFFFF;
    font-family: Alegreya;
    font-weight: 900;
    background-color: #DBAAFC;
    text-align: center;
    }
    .producto:hover .texto-flotante {
    opacity: 0.7;
    }
    .producto img {
        width: 100%;
        height: auto;
    }


/*BOTRONCOMPRA*/
.shop {
    position: absolute;
    background-repeat: no-repeat; 
    width: 100px;
    height: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/shop.gif?v=1707964091');
    background-size: contain;
    animation: rebote 3s ease-in-out 1s, desaparecer 1s 4s forwards, aparecer 1s 9s forwards, repetir 1s 10s infinite;
    transition: all 0.9s;
    top: 3%;
    left: 3%;
  }
/* Animación de rebote */
@keyframes rebote {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(65%, 470%);
    }
    100% {
        transform: translate(0, 0);
    }
}
/* Animación para desaparecer */
@keyframes desaparecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Animación para aparecer */
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Animación para repetir infinitamente */
@keyframes repetir {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (min-width: 769px) { /*COMPUTADORA*/
    .producto {
    height: 600px;
    }
}
@media screen and (max-width: 768px) { /*MOVIL*/
    .producto {
    height: 300px;
    }
}
/*BOTRONCOMPRA*/

/******COLOR-PRODUCTO*******************/
.black-produc{border: 10px solid #000000; border-bottom: 50px solid #000000;}
.pink-produc{border: 10px solid #cda6ec; border-bottom: 50px solid #cda6ec;}
.white-produc{border: 10px solid #ffffff; border-bottom: 50px solid #ffffff;}
/******COLOR-PRODUCTO******************/