        /* BANNER MAXI MINI MIDI */
        .banner-mmm {
            position: relative;
            width: 100%;
            
            background-position: center;
            color: white;
            text-align: center;
            padding: 20px;
            background-repeat: no-repeat;
        }

        /* Estilos para móvil */
        @media (max-width: 768px) {
            .banner-mmm {
                background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/bridesmiad916.png');
                font-size: 16px;
                height: 600px;
                background-size: contain;
            }
        }

        /* Estilos para escritorio */
        @media (min-width: 769px) {
            .banner-mmm {
                background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/bridesmiad169.png');
                font-size: 24px;
                height: 800px;
                background-size: cover;
            }
        }
        /* Estilos para los botones */
        .button-banner {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ddd8e1;
            color: rgb(19, 18, 18);
            text-decoration: none;
            margin: 10px;
            border-radius: 5px;
        }