.body
{
position: relative; 
}
/*-------------------------------BANNER MAXI MINI MIDI ----------------------------------------------------------------------------*/
        .banner-mmm {
            position: relative;
            width: 100%;
            background-position: center;
            color: white;
            text-align: center;
            padding: 20px;
            background-repeat: no-repeat;  
        }
        
        /* Estilos para móvil */
        @media (max-width: 768px) {
            .banner-mmm {
                background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/bridesmiad916.png');
                background-size: cover;
                height: 105vh;
                margin-left: 0;
                margin-right: 0;
            
            h1{
                position: absolute;
                font-size: 80px;
                color: white;
                text-align: left;
                top: 50%;
                left: 24%;
                transform: translate(-50%, -50%);
              }
              p{
                position: absolute;
                font-size: 18px;
                color:black;
                text-align: left;
                top: 89%;
                left: 33%;
                transform: translate(-50%, -50%);
                
              }
            .position-boton
            {
                position: absolute;
                top: 80%;
                left: 24%;
                transform: translate(-50%, -50%);
            }  
            .position-mid
            {
                position: absolute;
                top: 40%;
                left: 110%;
                transform: translate(-50%, -50%);
                margin-left: -120px;
                margin-right: -120px;
            } 
         }
        }

        /* Estilos para escritorio */
        @media (min-width: 769px) {
            .banner-mmm {
                background-image: url('https://cdn.shopify.com/s/files/1/0643/4789/8056/files/bridesmiad169.png');
                font-size: 24px;
                background-size: contain;
                min-height: 100vh;
                top: -3%;
                h1{
                    position: absolute;
                    font-size: 100px;
                    color: white;
                    text-shadow: 2px,10px,4px,black;
                    top: 10%;
                    left: 65%;
                    transform: translate(-50%, -50%);
                  }
                  p{
                    position: absolute;
                    font-size: 24px;
                    color:black;
                    text-align: left;
                    top: 45%;
                    left: 65%;
                    transform: translate(-50%, -50%);
                    
                  }
                .position-boton
                {
                    position: absolute;
                    top: 60%;
                    left: 70%;
                    transform: translate(-50%, -50%);
                }  
                .position-mid
                {
                    position: absolute;
                    top: 60%;
                    left: 65%;
                    transform: translate(-50%, -50%);
                    margin-left: -120px;
                    margin-right: -120px;
                } 
             }
            }
            
        /* Estilos para los botones */
        .button-banner {
            display: inline-block;
            padding: 10px 20px;
            background-color:rgba(163, 149, 149, 0.376);;
            color: rgb(19, 18, 18,0.7);
            text-decoration: none;
            margin: 10px;
            border-radius: 5px;
        }
        .button-banner:hover{border: 2px solid rgba(225, 225, 225, 0.179);background-color: antiquewhite;}
/*------------------------------------- END BANNER MAXI MINI MIDI -----------------------------------------------------------------------*/
 /* Estilos para los botones */
 .button-shop {
    z-index: 1;
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    background-color:rgba(221, 176, 141, 0.697);;
    color: rgb(19, 18, 18,0.7);
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}
.button-shop:hover{
    border: 2px solid rgba(225, 225, 225, 0.179);background-color: antiquewhite;
   }
@media (min-width: 769px) {
.shop-position-l{
    left: 25%;
    margin-bottom: -10%;
}
.shop-position-r{
    right:25%;
    margin-bottom: -10%;    
}
}
@media (max-width: 768px) {
.shop-position-l{
    margin-top: 20%;
    left: 25%;
    translate: (-50%,-50%);
    margin-bottom: -10%;
}
.shop-position-r{
    margin-top: 20%;
    left: 25%;
    translate: (-50%,-50%);
    margin-bottom: -10%;
}
}


