/*POSICIONES*/
.top-izq {top:10%;left:35%;}
.top-der {top:30%;left:68%;}
.bot-izq {top:65%;left:35%;}
.bot-der {top:65%;left:73%;}
.center {top:50%;left:50%;}
/*ENDPOSICIONES*/


/*COLORES*/
.pink-text{color: #cda6ec;}
.black-text{color: #000000;}
.white-text{color: #ffffff;}
.black-produc{border: 10px solid #000000; border-bottom: 50px solid #000000;}
.pink-produc{border: 10px solid #cda6ec; border-bottom: 50px solid #cda6ec;}
.white-produc{border: 10px solid #ffffff; border-bottom: 50px solid #ffffff;}

.boton-container {
    display: flex;
    justify-content: space-between; /* Distribuye los botones equitativamente */
    width: 100%; /* Ancho del contenedor, ajusta según sea necesario */        
}
.boton-style
{
    display: block; 
    width: 200px; /* Ancho de la imagen */
    height: 50px; /* Alto de la imagen */
    border: #000000;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Quita el contorno al hacer clic */
    transition: all 5s ease-in-out;
    z-index: 1;  
    margin-top: -33px;
}

/*FOTOREVISTA*/
.fotorevista {
  position: relative;
  text-align: center;
  width: 100%;
  }

.text-revista-white h1
    {
      font-family: 'Alegreya', sans-serif;
      font-weight: 900;
      color: #ffffff;
      position: absolute;
      font-size: 3.5vw;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      transform: translate(-50%, -50%);
    } 

  .text-revista-black h1
    {
      font-family: 'Alegreya', sans-serif;
      font-weight: 900;
      color: #000000;
      position: absolute;
      font-size: 3.5vw;
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
      transform: translate(-50%, -50%);
     } 
@media screen and (max-width: 767px) {
  .text-revista-white h1
    {font-size: 38px;}
 .text-revista-black h1
    {font-size: 38px;}

}
/*FOTOREVISTA*/    

.btn-cat {
      position: absolute;
      width: 20%;
      height: 15%;
      background-image: url('');
      background-size: contain;
      background-repeat: none;
      animation: desaparecer 3s 4s forwards, aparecer 3s 9s forwards, repetir 3s 10s infinite;
      transition: all 3s;
      top: 0%;
      left: 80%;
      background-repeat: no-repeat; 
    }

/*BOTRONCOMPRA*/
     
.shop {
      position: absolute;
      background-repeat: no-repeat; 
      width: 100px;
      height: 40px;
      background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/shop.gif');
      background-size: contain;
      animation: rebote 3s ease-in-out 1s, desaparecer 1s 4s forwards, aparecer 1s 9s forwards, repetir 1s 10s infinite;
      transition: all 0.9s;
      top: 3%;
      left: 3%;

    }

  /* Animación de rebote */
  @keyframes rebote {
      0% {
          transform: translate(0, 0);
      }
      50% {
          transform: translate(65%, 470%);
      }
      100% {
          transform: translate(0, 0);
      }
  }

  /* Animación para desaparecer */
  @keyframes desaparecer {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }

  /* Animación para aparecer */
  @keyframes aparecer {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }

  /* Animación para repetir infinitamente */
  @keyframes repetir {
      0% {
          opacity: 1;
      }
      50% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
/*BOTRONCOMPRA*/


.page-title {
margin-top: 0;
}

.main-page-title {
margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
.main-page-title {
  margin-bottom: 4rem;
}
}
.page-placeholder-wrapper {
display: flex;
justify-content: center;
}

.page-placeholder {
width: 52.5rem;
height: 52.5rem;
}

/* Estilo para el contenedor de bloques de productos ----------------------------------------------*/
.producto-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-content: center;
align-items: center;
align-self: center;
}

/* Estilo para cada bloque de producto */
.producto {
position: relative;
width: 48%; /* Ajusta el ancho según tus necesidades */
margin-bottom: 20px;
padding: 30px;
border-radius: 3px; /* Bordes redondeados */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
transition: transform 0.3s ease-in-out; /* Transición suave al pasar el ratón */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

/* Efecto al pasar el ratón sobre cada bloque de producto */
.producto:hover {
transform: scale(1.05); /* Escalar un poco al pasar el ratón */
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
.shop
{
 display: none;
}
}

/* Estilo para el contenido dentro de cada bloque de producto */
.producto h3 {
font-size: 16px;
color: #333; /* Color del título */
margin-bottom: 10px;
font-family: Alegreya;
}

.producto p {
color: #ffffff;
font-weight: 900;
position: absolute;
text-align: center;
text-overflow: ellipsis;
-webkit-line-clamp: 2;
white-space: normal;
}
/* Estilo para el texto flotante */
.texto-flotante {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
transition: opacity 0.3s ease-in-out;
font-size: 22px;
color: #FFFFFF;
font-weight: 900;
background-color: #DBAAFC;
text-align: center;
}
.producto:hover .texto-flotante {
opacity: 0.7;
}

/* Estilo para el contenedor de bloques de productos ----------------------------------------------*/

@media screen and (max-width: 768px) { /*MOVIL*/
.producto-container{margin: 1%;}
.producto
{
height: 340px;
}
.producto p 
{
  transform: translate(-50%, -50%);
  top: 105%;
  left: 50%;
  font-size: 10px;
}
.contenido h3
{font-size: 14px;}
.contenido p
{font-size: 12px;}
}
@media screen and (min-width: 769px) { /*COMPUTADORA*/
.producto-container{
    margin-left: 18%;
    margin-right: 18%;
    }
.producto {
height: 610px;
}
.producto p 
{
  transform: translate(-50%, -50%);
  top: 102%;
  left: 50%;
  font-size: 16px;
}
.contenido h3
{font-size: 17px;font-weight: 700;}
.contenido p
{font-size: 14px;}
}


/*CONTENIDOBLOQUE*/
.contenido
{
border-radius: 10px; /* Bordes redondeados (asegúrate de que sea un valor positivo) */ 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */  
padding: 33px;
text-align: left;
text-align: justify;
font-weight: 500;
font-style: italic;
margin-bottom: 10px;
}
/*CONETENDIOBLOQUEDND*/

/*cajon de botones*/
.cajon-botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}    
.fotbtn
{
font-weight: 600;
color: white;
padding-top: 10px;
padding-bottom: 10px;
border: 0px;
border-radius: 3px;
box-shadow: 0px 0px 2px rgba(60, 59, 59, 0.478);
transition: all 0.9s;
background-color: rgba(169, 151, 211, 0.85);
}
.fotbtn:hover
{
scale: 101%;
color: rgb(254, 255, 216);
rotate: 10px;
box-shadow: 0px 0px 8px rgba(60, 59, 59, 0.478);
transform: rotate(0.2deg);
}         
/*cajon de botones*/