
.tabs-container {
    max-width: 600px;
    margin: 20px auto;
}

.tab-buttons {

    display: flex;
    white-space: nowrap;
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

.tab {

    cursor: pointer;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 20px 10px;
    box-shadow: 0px 0px 5px rgba(60, 59, 59, 0.478);
    background-color: rgba(255, 255, 255, 0.658);
    text-align: center;
    border-radius: 5px;
    flex: 0 0 auto;
    transition: background-color 0.3s ease;
    transition: all 0.9s;
}

.tab:hover {
    background-color: rgba(145, 126, 155, 0.285);
    scale: 101%;
    transform: rotate(0.2deg);
    
}

.tab-content {
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal en el cuerpo */
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.tab-content h3 {
    color: #333;
    font-family: Alegreya;
}

.tab-content p {
    color: #666;
}