.vrc-banner {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: top;
    margin: 0px;
    font-weight: 900;
    white-space: nowrap;
    h1{
        text-shadow: 2px 2px 4px #000000;
        position: absolute;
        text-shadow: 2px,10px,4px,black;
        transform: translate(-50%, -50%);
      }
    p
      {
        position: absolute;
        text-align: left;
        transform: translate(-50%, -50%);
        text-shadow: 2px,10px,4px,black;        
      }
    .position-boton, .position-mid
      {
        position: absolute;
        transform: translate(-50%, -50%);
      }  
}

.button-banner {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgba(163, 149, 149, 0.376);;
    color: rgb(19, 18, 18,0.7);
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}
.button-banner:hover{border: 2px solid rgba(225, 225, 225, 0.179);background-color: antiquewhite;}
       
/* Estilos para móvil */
@media (max-width: 768px) {
    .vrc-banner {
        height: 90vh;        
    }
}

/* Estilos para escritorio */
@media (min-width: 769px) {
    .vrc-banner {
        height: 100vh;
    }
}

