.cont-guide
{
    width: 90%;
    max-width: 980px;
    margin: auto;
    text-align: center;
    justify-content: center ;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(300px, 2fr) repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: 500px 1fr;
    grid-template-areas:    "tittleguide imgguide1 textguide2 imgguide3"
                            "tittleguide textguide1 imgguide2 textguide3";
}
.cont-guide div{
    background-color: rgb(55, 133, 85);
}

.imgguide2{
    
    background-color: aqua;
}
.textguide1{
      background-color: aqua;
      grid-column: span 2;
 }

.tittleguide{
   grid-area: tittleguide;
    background-color: aqua;
}
.imgguide1{
    grid-area: img1;
    background-color: aqua;
}


.textguide2{
    grid-area: textguide2;
    background-color: aqua;
}
.imgguide3{
    grid-area:imgguide3;
    background-color: aqua;
}
.textguide3{
    grid-area: textguide3; 
    background-color: aqua;

}
